.modal__container{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.877);
    z-index: 200;

}

.modal__body{

    min-height: 80vh;
    max-width: 80vh;


    background-color: #FFFFFF;
    background: -webkit-linear-gradient(180deg, #dd0128 45%, #ffffff 45%);
    background: -o-linear-gradient (180deg, #dd0128 45%, #ffffff 45%);
    background: -moz-linear-gradient(180deg, #dd0128 45%, #ffffff 45%);
    background: linear-gradient(180deg, #dd0128 45%, #ffffff 45%);
    border-radius: 50%;



    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;


    padding:5vh;
    z-index: 250;
    box-shadow: 1vh 1vh 1vh #7a7a7a;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.modal__body h1 {

    text-transform: capitalize;


}


@media (max-width:768px){

    .modal__body{

        border-radius: 3vh;

    }

}